<footer>
  <div>
    <p>
      © 2024 Members Only Message Board. Crafted with love by
      <a href="https://github.com/ruizterce/" class="hover:text-green-400"
        >@ruizterce</a
      >
    </p>
  </div>
</footer>
