<footer class="bg-emerald-700 text-white p-4 mt-6">
  <div class="container mx-auto text-center">
    <p>
      © 2024 Members Only Message Board. Crafted by
      <a href="https://github.com/ruizterce/" class="hover:text-yellow-400"
        >@ruizterce</a
      >
    </p>
  </div>
</footer>
