<% title = 'Register - Message Board'; %>

<h1>Register</h1>
<form method="POST" action="/register">
  Username <input type="text" name="username" id="username" /> Password
  <input type="password" name="password" id="password" />
  First Name <input type="text" name="first_name" id="first_name" /> Last Name
  <input type="text" name="last_name" id="last_name" /> Email<input
    type="email"
    name="email"
    id="email"
  />
  <input type="submit" value="Submit" />
</form>
